spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/shopping_db_dev
    username: dev
    password: dev123
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: localhost
      port: 6379
  
  kafka:
    bootstrap-servers: localhost:9092

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  access:
    expiration: 1800000 #30분
  refresh:
    expiration: 604800000 #7일
  security:
    secretKey: my-custom-secret-key-groom-shopping-dev

payment:
  toss:
    secret-key: test_sk_LkKEypNArWQjwJEElyKN3lmeaxYG
    api-url: https://api.tosspayments.com
    
springdoc:
  swagger-ui:
    groups-order: DESC
    tags-sorter: alpha
    operations-sorter: method
    disable-swagger-default-url: true
    display-request-duration: true
    defaultModelsExpandDepth: 2
    defaultModelExpandDepth: 2
    config-url: /api/v3/api-docs/swagger-config
    url: /api/v3/api-docs
  api-docs:
    path: /v3/api-docs
  show-actuator: true
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  writer-with-default-pretty-printer: true
  model-and-view-allowed: true
  paths-to-match:
    - /**
